name: CI

on:
  push:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
   
      - run: git fetch --force --tags
      - uses: actions/setup-go@main
        with:
          go-version: stable
      
      - run: ./build.sh

      - name: Create required instances
        env:
          REDMINE_TEST_API_KEY: ${{ secrets.REDMINE_TEST_API_KEY }}
          REDMINE_TEST_SQL_DUMP: ${{ secrets.REDMINE_TEST_SQL_DUMP }}
        run: tests/init.sh

      - name: issue/create.sh
        run: |
          if ! sudo bash -xe tests/redmine/issue/create.sh; then
            cat /var/log/monokit.log
            exit 1
          fi

      - name: issue/update.sh
        run: |
          if ! sudo bash -xe tests/redmine/issue/update.sh; then
            cat /var/log/monokit.log
            exit 1
          fi

      - name: issue/close.sh
        run: |
          if ! sudo bash -xe tests/redmine/issue/close.sh; then
            cat /var/log/monokit.log
            exit 1
          fi

      - name: issue/down.sh
        run: |
          if ! sudo bash -xe tests/redmine/issue/down.sh; then
            cat /var/log/monokit.log
            exit 1
          fi

      - name: issue/up.sh
        run: |
          if ! sudo bash -xe tests/redmine/issue/up.sh; then
            cat /var/log/monokit.log
            exit 1
          fi

      - name: news/create.sh
        run: |
          if ! sudo bash -xe tests/redmine/news/create.sh; then
            cat /var/log/monokit.log
            exit 1
          fi

      - name: news/delete.sh
        run: |
          if ! sudo bash -xe tests/redmine/news/delete.sh; then
            cat /var/log/monokit.log
            exit 1
          fi
